{% extends "NoticeBoardBundle:Default:layout.html.twig" %}

{% block title %}About{% endblock %}
{% block nav %}
 {{ parent() }}
 {% endblock %}

{% block header %}
	About - Notice-Boards Bundle <small>A Symfony Bundle</small>
{% endblock %}

{% block body %}
This is a Bundle Package that I created for the Symfony Framework.<br />
Creator: Justin Fuhrmeister-Clarke<br />
Email: <a href="mailto:justy531@gmail.com">justy531@gmail.com</a><br />
Website: <a href="http://notice.justin-clarke.com">notice.justin-clarke.com</a><br />
Repository: <a href="http://repo.justin-clarke.com">repo.justin-clarke.com</a> <small>Not Currently Active</small><br />

{% endblock %}
