{% extends "@NoticeBoardBundle/Default/layout.html.twig" %}

{% block title %}About{% endblock %}
{% block nav %}
 {{ parent() }}
{% endblock %}

{% block header %}
	About - Notice-Boards Bundle <small>A Symfony Bundle</small>
{% endblock %}

{% block body %}
This is a Bundle Package that I created for the Symfony Framework.<br />
Creator: Justin Clarke<br />
Email: <a href="mailto:recipeBundle@git.justinclarke.me">recipeBundle@git.justinclarke.me</a><br />
Website: <a target="_blank" href="https://justinclarke.me">justinclarke.me</a><br />
Repository: <a target="_blank" href="https://github.com/JustinAClarke/RecipeBundle/">github.com/JustinAClarke/RecipeBundle/</a><br />

{% endblock %}
