{% extends "@NoticeBoardBundle/Default/layout.html.twig" %}

{% block title %}Lyn's Gluten Free Kitchen{% endblock %}

{% block header %}
Lyn's Gluten Free Kitchen
{% endblock %}

{% block nav %}
        {{ parent() }}
{% endblock %}



{% block body %}

        <header>
        
            <div class="intro-text">
                <!--div class="intro-heading">Happy 30th Anniversary</div-->
                <div class"intro-lead-in">
                {#{ render(controller( 'VerseOfDayBundle:Default:index' )) }#}
                </div>
                <br>
                <div class="intro-lead-in">Welcome To</div>
                <div class="intro-lead-in"><small>Lyn's Gluten Free Kitchen</small></div>
                {# <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a> #}
            </div>
          

    </header>

    <style type="text/css">
    small{
        font-size:75%;
        }
    </style>

{% endblock %}

