{% extends "@NoticeBoardBundle/Default/layout.html.twig" %}

{% block title %}Recipe Bundle{% endblock %}

{% block header %}
    Recipe Bundle
{% endblock %}

{% block nav %}
    {{ parent() }}
{% endblock %}



{% block body %}

    <header>
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To</div>
            <div class="intro-lead-in"><small>Recipe Bundle</small></div>
        </div>
    </header>

    <style type="text/css">
        small {
            font-size: 75%;
        }
    </style>

{% endblock %}

