{% extends "@NoticeBoardBundle/Default/layout.html.twig" %}

{% block title %}All Recipes list{% endblock %}

{% block header %}
    All Recipes list
{% endblock %}

{% block body %}
    {% for Board in Boards %}
        <div class="board">
            <div class="col-md-12">
                <h3>
                    <a href="{{ path('showBoard', {'slug': Board.title }) }}">{{ Board.title }}</a>
                </h3>
            </div>
            <div class="col-md-12">
                {{ render(controller( 'App\\NoticeBoardBundle\\Controller\\DefaultController::showNoticeGrid', { 'slug' : Board.title } )) }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
