{% extends "NoticeBoardBundle:Default:layout.html.twig" %}
{% block title %}{{parent()}} - Lyn's Page{% endblock %}
{% block nav %}
{{ parent() }}
{% endblock %}
{% block header %}Lyn's Page{% endblock %}
{% block body %}
<h3>
    Hi there!
</h3>
<h4>
    Welcome to the world of gluten free cooking!
</h4>
<p>
    It was a rude awakening to me in 2004 when I discovered that my two
    daughters and I had Coeliac Disease. Suddenly and immediately I was
    thrown into a world of weird ingredients and cooking failures. As a
    cooking (and eating!!) enthusiast I became quite downcast and put
    away my recipe book for some time. But as I became acclimatised to
    our new way of life and sick of packet food (let’s not even mention
    bread!!!!!), I decided to take out my recipe book and see if I could
    make something work.
</p>
<p>
    I’m a practical, no-fuss cook so I need everyday ingredients that work
    for me but don’t leave food taste free. One discovery I made was an
    ingredient called GFG (Gluten Substitute) made by Orgran that has
    become my 'magic' ingredient and made a HUGE difference between
    failure and success.
</p>
<h4>
    THANKS ORGRAN!
</h4>
<p>
    This book has come about as a result of encouragement from family and
    friends for me to come up with a user friendly, basic recipe book for
    those confronted with a gluten free diet. Thank you to my patient
    encouragers! As I have toiled away and shared my samples I have found
    that many people actually prefer the gluten free products I have made
    compared to their ‘normal’ counterpart! So, be encouraged. You,
    too, can cook gluten free with ease and success.
</p>
<p>
    This book is my gift to you, so what are you waiting for?
</p>
<p>
    Overtime I have learnt a few tips that have also made a big difference to my cooking.
</p>
<p>
    Let me share them with you:
</p>
<h5>
    <u>
        FLOUR
    </u>
</h5>
<p>
    This was a real issue for me until I mixed equal quantities of
    Orgran flour with F.G. Robert’s flour. I noticed the difference
    particularly with SR flour – Orgran is very fine/short and the
    Robert’s is very heavy, but together they have a great texture and
    taste, and work well. So in my pantry I have a tub of GF SR flour
    and a tub of GF plain flour; both being a combination of equal
    amounts of both brands of flour. Simple and easy to use.
</p>
<h5>
    <u>
        GFG
    </u>
</h5>
<p>
    I add this wonderful ingredient whenever I use flour at a rate of 1
    heaped teaspoon GFG per cup of flour. It adds elasticity and helps
    stop crumbling. It does make the mixture thirstier, though, so you
    will need to add more liquid.
</p>
<h5>
    <u>
        SIFTING
    </u>
</h5>
<p>
    I found sifting GF flour in a sifter was a pain, so I just lightly
    whisk the dry ingredients in a bowl and it works well.
</p>
<h5>
    <u>
        LIQUIDS
    </u>
</h5>
<p>
    More liquid is required for gluten free cooking that uses flours, so you
    will need to be aware of this when changing a standard recipe to a
    gluten free recipe. A wetter mixture (esp for cakes, muffins etc)
    will make the final product more moist and fresher longer.
</p>
<h5>
    <u>
        PASTRY
    </u>
</h5>
<p>
    If you don’t have one, get hold of a silicon mat for rolling out
    your pastry. GF pastry is very fragile and a mat helps you pick up
    the pastry, flip it on top of your pie or tray and simply peel off
    the mat.
</p>
<h5>
    <u>
        RECIPES
    </u>
</h5>
<p>
    If you have a favourite standard recipe and want to make it gluten
    free, then don’t be afraid to have a go. Use GF flour, add the
    appropriate amount of GFG, make sure you have a gluten free
    equivalent of each ingredient, and remember you might need extra
    liquid.
</p>
{% endblock %}
