{% extends "NoticeBoardBundle:Default:layout.html.twig" %}

{% block title %}Response test{% endblock %}


{% block body %}
<ul>
{% for NoticeBoard in NoticeBoards %}
	<li id="{{ NoticeBoard.id }}">{{ NoticeBoard.title }}</li>
{% endfor %}

</ul>
{% endblock %}
