<form action="{{ path('search') }}" method="get">
    <input name="q" type="text"></input>
    <input type="checkbox" name="title" checked="true" class="hidden"></input>
    <input type="submit" value="{{ 'common.search'|trans }}"></input>
</form>